---
layout: page
title: Lifetalk
---
<p class="lead">Chào mừng đến với chuyên mục Lifetalk - Tâm sự chuyện đời. Nơi đây tớ sẽ viết mọi cảm nghĩ của mình về thế giới xung quanh, và cũng có thể là cuốn nhật ký hằng ngày của tớ. Ở cuối mỗi bài viết đều có phần comment, hãy đừng ngại ngùng để lại đôi lời nếu bạn có chút thắc mắc.</p>
<div class="content list">
{% if site.posts.size == 0 %}
  <h2>Không có bài viết nào:)</h2>
{% else %}
{% for post in site.categories.lifetalk %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>
